<?xml version="1.0" encoding="UTF-8"?><configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
        <encoder>
            <pattern>[%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<logger level="debug" name="org.springframework"/>-->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
